{% extends "layout.html" %}

{% block title %}
Edit Note    
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='note.css') }}"  />
{% endblock %}

{% block content %}
<!--
    # name
    # note
    # author
    # created (genereres automatisk)

-->
<h1>Edit Note</h1>

<!-- Lav input felter -->
<form action="/create/" method="post">
    <input type="text" name="name" placeholder="Name" /><br>
    <textarea name="note" placeholder="Note"></textarea><br>
    <input type="text" name="author" placeholder="Author" /><br>
    <input type="submit" value="Edit Note" />
</form>

{% endblock %}