{% extends "layout.html" %}

{% block title %}
Edit Note    
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='note.css') }}"  />
{% endblock %}

{% block content %}
<!--
    # name
    # note
    # author
    # created (genereres automatisk)

-->
<h1>Rediger Note</h1>

<div class="main-body">
<!-- Lav input felter -->
<form action="/notes/edit/{{ note_id }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.title(size=32, placeholder="Name", value=form.title.data) }}<br>
    {{ form.text(rows=4, placeholder="Note", value=form.text.data) }}<br>
    {{ form.imagelink() }}<br>
    {{ form.submit(value="Edit Note") }}
</form>
</div>
{% endblock %}