{% extends "layout.html" %}

{% block title %}
Edit Note    
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='note.css') }}"  />
{% endblock %}

{% block content %}
<!--
    # name
    # note
    # author
    # created (genereres automatisk)

-->
<h1>Edit Note</h1>


<!-- Lav input felter -->
<form action="/edit/{{ note.id }}" method="post">
    <input type="text" name="title" placeholder="Name"value="{{ note.title }}" /><br>
    <textarea name="note" placeholder="Note">{{ note.text }}</textarea><br>
    <!-- <input type="text" name="author" placeholder="Author" /><br> -->
    <input type="hidden" name="created" value=" {{ note.created }}"/><br>
    <input type="text" name="imagelink" placeholder="Image Link" value="{{ note.imagelink }}"/><br>
    <input type="submit" value="Edit Note" />
</form>

{% endblock %}