{% extends "layout.html" %}
{% block title %} My Notes {% endblock %}
{% block head %} 

{% endblock %}
{% block content %}

<h1 align="center">Mine Noter</h1>
<hr>
{% if not notes %}
  <h2>Du har ingen noter pt! - Opret en nu</h2>
{% else %}

<table class="resources" style="width: 100%; border-collapse: collapse;">

    <tr>
      <th>ID</th>
      <th>Titel</th>
      <th>Note</th>
      <th>Oprettet</th>
      <th>Redigeret</th>
      <th>Handlinger</th>
    </tr>

  {% for note in notes %}
    <tr>  
      <td>{{ note.noteid }}</td>
      <td>{{ note.title }}</td>
      <!-- Display maximum of 50 characters-->
      <td>{{ note.text[:50] }}...</td>
      <td>{{ note.created.strftime("%Y-%m-%d %H:%M") }}</td>
      <td> {{ note.lastEdited.strftime("%Y-%m-%d %H:%M") }} </td>
      <td>
        <a href="{{ url_for('view', id=note.id) }}" class="icon-link">
            <i class="fa-solid fa-eye"></i>
        <a href="{{ url_for('edit', id=note.id) }}" class="icon-link">
            <i class="fa-solid fa-wrench"></i>
        </a>
        <a href="{{ url_for('delete_note', id=note.id) }}" class="icon-link">
          <i class="fa-solid fa-trash-can"></i>
        </a>

      </td>
    </tr>
  {% endfor %}

</table>
{% endif %}

{% endblock %}

