{% extends "layout.html" %} {% block title %} Landing Page {% endblock %}
{%block content %}
<hr />
<h1>IT Arkitekt IBA Note Landing Page</h1>
<div class="resources">
  {% if notes == null %}
  <p>lol</p>
  {% else %} {% for title, details in notes.items() %}
  <li>
    <p>{{details["author"]}}</p>
    <p>{{details["note"]}}</p>
    <p>{{details["created"]}}</p>
    <div class="row">
      <i class="fa-solid fa-wrench"></i>
      <i class="fa-solid fa-trash-can"></i>
    </div>
  </li>
  <hr />
  {%endfor%} {% endif %}
</div>
{% endblock %}
