{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
 <style>
    html {
        overflow-y: hidden!important;
        }
 </style>
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
<div style="width:40%;margin: auto auto;" id="loginbox">
    <h3 class="title" style="text-align:center">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form id="loginform" method="POST" action="{{ url_for('auth.login') }}">
                {{ form.hidden_tag() }}
            <div class="field">
                <div class="control">
                    {{ form.username(class="input is-large", placeholder="Your Username", autofocus="") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.password(class="input is-large", placeholder="Your Password") }}
                </div>
            </div>
            <button type="submit" class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>

{% endblock %}