<!-- FILEPATH: /c:/Users/Steffan/Documents/GitHub/Agil-Flask-Note-Projekt/hello_app/templates/note.html -->

<!-- BEGIN: view-note-setup -->
{% extends "layout.html" %}

{% block title %}
View Note
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='note.css') }}"  />
{% endblock %}

{% block content %}
<!--
    # name
    # note
    # author
    # created (genereres automatisk)
-->
<div class="main-body">
<h2>{{ note.title }}</h2>
<hr>

<textarea style="width:50%" disabled>{{ note.text }}</textarea>

{% if note.imagelink %}
<img class="note-img" src="{{ note.imagelink }}" alt="Note Image">
{% endif %}

</div>
 
<p class="view-timestamps">Oprettet: {{ note.created.strftime("%Y-%m-%d %H:%M") }} / 
Redigeret: {{ note.lastEdited.strftime("%Y-%m-%d %H:%M") }}</p>
<!-- Actions button-->
<div align="center">
    <a href="{{ url_for('edit', id=note.id) }}" class="icon-link">
        <i class="fa-solid fa-wrench"></i>
    </a>
    <a href="{{ url_for('delete_note', id=note.id) }}" class="icon-link">
        <i class="fa-solid fa-trash-can"></i>
    </a>
{% endblock %}

