/* Eksempler på mulighed for custom stylings */

.admonition {
    line-height: 1.5;
}

.warning {
    border: 1px solid #ff0000;
    background-color: #ffdddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.note {
    border: 1px solid #0000ff;
    background-color: #ddddff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.hint {
    border: 1px solid #00ff00;
    background-color: #ddffdd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    line-height: 1.8;

}

.hint p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.admonition > strong {
    font-size: 1.2em;
    text-align: center;
    opacity: 0.6;
}

.admonition em {
   color:rgb(22, 76, 252);
}