.dark-mode .body-content {
    padding: 0;
    margin: 0;
    background-color: #383636;
}

.dark-mode #frontpageh1, .dark-mode #nonotes {
    color: #ffffff;
}

.dark-mode hr {
    width: 60%;
    border: 1px solid rgb(136, 134, 134);
    margin: 20px auto;
}

.dark-mode .message {
    font-weight: 600;
    color: rgb(171, 171, 173);
}

.dark-mode a {
    color: #b0abb6;
}

.dark-mode a:hover {
    color: #f6f5f8;
}

.dark-mode .navbar {
    background-color: #504e4e;
    color: #ffffff;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px
}

.dark-mode .navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
  }
  
  .dark-mode .navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
    color: #ffffff;
  }

/* Tabel CSS */
.dark-mode .resources table {
  background-color: transparent;
  border-collapse: collapse;
  table-layout: fixed;
  color: #e0e0e0;
}

.dark-mode .resources tbody th, .dark-mode .resources tbody tr {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    background-color: #333; 
    color: #ffffff;
}
.dark-mode .resources td {
  border: 1px solid white;
}

.dark-mode .resources tbody tr:nth-child(even) {
    background-color: rgb(64, 64, 64);
}

.dark-mode .resources tbody tr:hover {
    background-color: #575757;
}

.dark-mode .icons i {
  color: rgb(200, 200, 200);
}
.dark-mode .icons i:hover{
  color: white;
}

.dark-mode .resources .icons {
  display: flex;
  justify-content: space-around;
  border: hidden;
}

.dark-mode footer {
    background-color: #333;
}

.dark-mode footer p {
    color: #ffffff;
}

.dark-mode form {
    background-color: #2D2D2D ;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(194, 193, 193, 0.1);
}

.dark-mode #search {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
}

.dark-mode #searchbar {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(170, 170, 170);
}
.dark-mode #searchbutton {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(170, 170, 170);
  border-left: none;
}

.dark-mode #searchbar::-webkit-input-placeholder { /* Ændring af placeholder farve i darkmode */
  color: #fdfcff;
}

.dark-mode .clear {
  color: transparent;
}
.dark-mode .clear:hover {
  color: transparent;
}
.dark-mode #clear {
  color: rgb(155, 155, 155);
}
.dark-mode .markdown-body {
  background-color: white;
  color: black;
}
.dark-mode .markdown-body h1 {
  color: black;
}

.dark-mode .view-timestamps {
  color: white;
}

.dark-mode .flash-success {
  color: #fff; /* CSS til flash-success besked i darkmode*/
}

.dark-mode .flash-error {
  color: #fff; /* CSS til flash-error besked i darkmode*/
}

.dark-mode h1 {
  color: white;
}

.dark-mode #menu {
  background-color: #504e4e;
}