body {
  padding: 0;
  margin: 0;
  background-color: white;
}

h1 {
  color: #333;
}

hr {
  width: 60%;
  border: 1px solid black;
  margin: 20px auto;
}

.message {
  font-weight: 600;
  color: blue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightslategray;
  font-size: 1.4em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  padding:  20px;
}

.nav-right {
  display: flex;

}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  margin-left: 30px;
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: calc(100vh - 71.33px);
  justify-content: start;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search bar */
#search {
  display: flex;
  margin-bottom: 10px;
  align-self: center;
  margin-top: 10px;
}
#searchbar {
  display: flex;
  max-width: 50vw;
  height: inherit;
  border-radius: 25px 0 0 25px;
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
  border: 2px solid #333;
}
#searchbutton {
  display: flex;
  height: inherit;
  border-radius: 0 25px 25px 0;
  font-size: 20px;
  padding: 5px 10px;
  padding-right: 15px;
  cursor: pointer;
  border: 2px solid #333;
  border-left: none;
}
#searchbutton:hover {
  background-color: #848484;

}

#clear {
  color: #333;
  text-decoration: none;
  display: flex;
  align-self: center;
  margin-bottom: 25px;
  cursor: default;
}
#clear:active {
  color: #333;
}
.clear {
  color: white;
  text-decoration: none;
  display: flex;
  align-self: center;
  margin-bottom: 25px;
  cursor: default;
}

/* Tabel CSS */
table {
  max-width: 100vw;
  border-collapse: collapse;
  table-layout: fixed; /* Dette sikrer, at alle kolonner har samme bredde */
}

th, td {
  border: 1px solid #333; /* Let grå kant for at skelne celler */
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f8f8f8; /* En let grå baggrundsfarve for header */
  color: #333; /* Mørk tekstfarve for kontrast */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra-striping for rækker */
}

tr:hover {
  background-color: #eaeaea; /* Hover-effekt for rækker */
}
.icons {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.icons i {
  color: black;
  text-decoration: none;
}
.icons i:active {
  color: initial;
}
#shownoteicons {
  justify-content: center;
  gap: 15px;
}

footer {
  background-color: white;
}

#theme-toggle {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-right: 20px;
  border-right: 2px solid rgb(90, 103, 117);
}
#theme-toggle i {
  color: white;
}

footer {
  margin-top: auto;
  height: 50px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  div.mobile {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  div.desktop {
    display: none;
  }
}

/* Burger menu */
.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-left: 20px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px;
}
.menu {
  display: none;
}
.show {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 71.33px;
  right: 0px;
  background-color: lightslategray;
  padding: 0;
  animation-name: dropdown;
  animation-duration: 0.5s;
}

.menu li {
  margin-right: 40px;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 5px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}


@keyframes dropdown {
  0% {top: -100px; z-index: -1;}
  50% {top: 70px;}
  100% {top: 71.33px; z-index: 1;}
}