body {
    padding: 0;
    margin: 0;
}


hr {
    width: 60%;

    border: 1px solid black;
    margin: 20px auto;
}

.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 10px 8px 10px 8px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resources {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 72px);
    margin-left: 25px;
    
}

/* Search bar */
#search {
  display: flex;
  margin-bottom: 5px;
  align-self: center;
}
#searchbar {
  display: flex;
  max-width: 50vw;
  height: fit-content;
  border-radius: 25px 0 0 25px;
  font-size: large;
  padding: 5px;
  padding-left: 15px;
}
#searchbutton {
  display: flex;
  height: fit-content;
  border-radius: 0 25px 25px 0;
  font-size: large;
  padding: 5px 10px;
}
#searchbutton:hover {
  background-color: #848484;
}

#clear {
  color: #333;
  text-decoration: none;
  display: flex;
  align-self: center;
  margin-bottom: 25px;
}
#clear:active {
  color: #333;
}
.clear {
  color: white;
  text-decoration: none;
  display: flex;
  align-self: center;
  margin-bottom: 25px;
}

/* Tabel CSS */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Dette sikrer, at alle kolonner har samme bredde */
  }

  th, td {
    border: 1px solid #dddddd; /* Let grå kant for at skelne celler */
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f8f8f8; /* En let grå baggrundsfarve for header */
    color: #333; /* Mørk tekstfarve for kontrast */
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra-striping for rækker */
  }

  tr:hover {
    background-color: #eaeaea; /* Hover-effekt for rækker */
  }

  .fa-wrench, .fa-trash-can {
    cursor: pointer;
    color: #333;
    margin-right: 10px;
  }

  .fa-wrench:hover, .fa-trash-can:hover {
    color: #555;
  }
