<!-- FILEPATH: /c:/Users/Steffan/Documents/GitHub/Agil-Flask-Note-Projekt/hello_app/templates/note.html -->

<!-- BEGIN: view-note-setup -->
{% extends "layout.html" %}

{% block title %}
View Note
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='note.css') }}"  />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pycode.css') }}"  />
<!-- Til custom styling af disse admonitions bokse -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admonitions.css') }}"  />
{% endblock %}

{% block content %}
<!--
    # name
    # note
    # author
    # created (genereres automatisk)
-->
<div class="main-body">


<div class="markdown-body">
<h1>{{ note.title }}</h1>
<hr>

{{ note_markdown | safe }}
</div>

{% if note.imagelink %}
<img class="note-img" src="{{ note.imagelink }}" alt="Note Image">
{% endif %}

</div>
 
<p class="view-timestamps">Oprettet: {{ note.created.strftime("%Y-%m-%d %H:%M") }} / 
Redigeret: {{ note.lastedited.strftime("%Y-%m-%d %H:%M") }}</p>
<!-- Actions button-->
<div align="center">
    <a href="{{ url_for('edit', id=note.noteID) }}" class="icon-link">
        <i class="fa-solid fa-wrench"></i>
    </a>
    <a href="{{ url_for('delete_note', id=note.noteID) }}" class="icon-link">
        <i class="fa-solid fa-trash-can"></i>
    </a>


<!-- Custom Scripts - Til Mermaid-->
<script type="module" defer>
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
  mermaid. Initialize({
    securityLevel: 'loose',
    startOnLoad: true
  });
  let observer = new MutationObserver(mutations => {
    for(let mutation of mutations) {
      mutation.target.style.visibility = "visible";
    }
  });
  document.querySelectorAll("pre.mermaid-pre div.mermaid").forEach(item => {
    observer.observe(item, { 
      attributes: true, 
      attributeFilter: ['data-processed'] });
  });
</script>

{% endblock %}

